@import url('https://fonts.googleapis.com/css?family=Rubik');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
.home {
    background-color: white;
    background-image: url(img/london1.png);
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
}
.aboutme {
     background-color: white;
    background-image: url(img/33.png); /* Change this to better pic */
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;  
}
.portfolio {
     background-color: white;
    background-image: url(img/forest4.png); /* Change this to better pic */
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;  
}
#header-inner {
    max-width: 1200px;
    margin: 0 auto;
}
/*--- Start navigation--*/
nav {
    float: right;
    padding: 1px 9px 0px 0px;
    text-align: center;
}
ul {
    list-style-type: none;
}
nav ul li{
    font-family: 'Rubik' sans-serif;
    font-size: 135%;
    /* Added margin 0 auto to try and fix center issue */
    margin: 0 auto;
    font-weight: normal;
    display: inline-block;
    float: left;
    padding: 15px;
}
nav ul li a {
    color: darkgrey;
    text-decoration: none;
}
nav ul li a:hover {
    color: #C3D7DF;
    text-decoration: underline;
}
.current {
    color: black;
}
/*-- END Navigation --*/
#tablet2 {
    float: right;
}
h2 {
    color: darkgray;
}
h3 {
    color: darkgray;
}
p {
    color: darkgray;
}
aside {
    float: right;
    margin: 500px -500px 5px 5px ;
    width: auto;
    height: auto;
    text-align: center;
}
.social {
    width: 24px;
    height: auto;
}
/*-- END OF MY CODE --*/


/*-- CSS Button --*/

.button {
    border: none;
    color: white;
    padding: 16px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}














/*--
.download{
 display: inline-block;
 border:2px solid #000000;
 color: #000000;
 border-radius: 10px 10px 10px 10px;
 -webkit-border-radius: 10px 10px 10px 10px;
 -moz-border-radius: 10px 10px 10px 10px;
 font-family: Arial;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 10px 14px;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 background-color: #FFFFFF;
}
.donwload:hover, .download:active{
 border:1px solid #FFFFFF;
 color: #FFFFFF;
 box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #FFFFFF,inset 0 0 0 1px #FFFFFF;
 -moz-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #FFFFFF,inset 0 0 0 1px #FFFFFF;
 -webkit-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #FFFFFF,inset 0 0 0 1px #FFFFFF;
 background-color: #000000;
}
--*/



















/*--- START OF CHEVRON CODE --*/

.container {
  float: right;
  width: 270px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #2F4F4F;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: -10px;
  margin-left: -240px;
  font-family: "Raleway", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #2F4F4F;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
